/* ! UTILITY */
:root {
    --black: #000000;
    --light-black: rgba(31, 31, 31, 1);
    --blue: #00439c;
    --grey: rgb(90, 90, 90);
    --light-grey: rgba(190, 188, 187, 1);
    --dark-blue: rgba(22, 28, 59, 1);
    --orange: rgba(205, 61, 15, 1);
    --lavish-white: rgba(217, 218, 220, 1);
    --white: #ffffff;
}

/* ! COMMON */
body {
    font-family: 'Roboto', sans-serif;
}

/* ! Background color personali */
.my-bg-dark-blue {
    background-color: var(--dark-blue);
}

.my-bg-light-grey {
    background-color: var(--light-grey);
}

.my-bg-dark-blue {
    background-color: var(--dark-blue);
}

.my-bg-light-black {
    background-color: var(--light-black);
}

.my-bg-blue {
    background-color: var(--blue);
}

.my-bg-black {
    background-color: var(--black);
}

.my-bg-white {
    background-color: var(--white);
}

.my-bg-orange {
    background-color: var(--orange);
}

.my-bg-lavish {
    background-color: var(--lavish-white);
}

.my-bg-white {
    background-color: var(--white);
}

/* ! Color text personali */
.my-text-blue {
    color: var(--blue);
}

.my-text-grey {
    color: var(--grey);
}

img {
    max-width: 100%;
}

p {
    font-weight: 500;
}

.title-font {
    font-size: 45px;
}

/* ! HEADER */
.sony {
    width: 100%;
}

.sony img {
    width: 100px;
}

.lente {
    width: 30px;
}

header {
    position: sticky;
    top: 0;
    z-index: 9999;
}

/* ! MAIN */

/* ! Sezione Hero */
.img-bg-hero-1 {
    background-image: url('../img/jumbo-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 450px;
    padding-bottom: 50px;
}

.hover-hero {
    transition: translate .3s;
}

.hover-hero:hover {
    translate: 0 -10%;
    box-shadow: 0 5px 8px rgba(0,0,0,0.5);
}

/* ! Sezione Carousel */
#carousel .my-text-blue {
    font-weight: 500;
    font-size: 0.9em;
}

#carousel img {
    max-width: 80%;
    margin: 0 auto;
}

.card {
    cursor: pointer;
}

.playstation {
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid var(--blue);
}

.controller, .cuffie, .telecomando, .telecamera {
    opacity: 0.7;
    border: 0;
    
}

.controller:hover, .cuffie:hover, .telecomando:hover, .telecamera:hover {
    opacity: 1;
    border-radius: 0;
    border: 0;
    border-bottom: 2px solid var(--blue);
}

 /* ! Media query del Carousel per far sparire i paragrafi sotto le immaginine */
@media screen and (max-width: 576px) {
    .carousel-img p {
        display: none;
    } 
    
    .telecomando, .telecamera, .controller {
        border-bottom: 2px solid transparent;
    }
}

@media screen and (min-width: 768px) {
    .playstation p {
        margin-bottom: 4.5rem;
    }
    
    .cuffie {
        border-bottom: 2px solid transparent;
    }
}

/* ! Sezione Hero 2 */
.img-bg-hero-2 {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.my-font {
    font-size: 35px;
}

/* ! Sezione Footer Top */
.logo-footer {
    width: 100px;
}

.globe {
    width: 20px;
}

.footer-top p {
    margin-bottom: 0.5rem;
}

/* ! Sezione Footer Bottom */
.logo-footer-bottom {
    width: 150px;
}